<mat-toolbar color="primary">
    <span>
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">MyMessages</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a class="nav-link" [routerLink]="['/create']" routerLinkActive="active">New Post</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active">Sign Up</a>
      </li>
    </ul>
  </mat-toolbar>